body{
    font-family:Arial;
    background:#f4f6f9;
    }
    
    .container{
    width:350px;
    margin:80px auto;
    padding:25px;
    background:white;
    border-radius:8px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    }
    
    input{
    width:100%;
    padding:8px;
    margin:8px 0;
    }
    
    button{
    width:100%;
    padding:10px;
    background:#007bff;
    color:white;
    border:none;
    }
    
    button:hover{
    background:#0056b3;
    }